body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #e8f7d8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.container {
    width: 80%;
    max-width: 500px;
    max-height: auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid rgb(8, 102, 14);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(8, 102, 14);
    font-family: 'Roboto', sans-serif;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: rgb(8, 102, 14);
}
input{
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.buttons {
    display: flex;
    justify-content: center;
}
.buttons button {
    background-color: rgb(8, 102, 14);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}
.buttons button:hover {
    background-color: rgb(4, 66, 8);
}
.profile{
    height: 300px;
    width: 300px;
    margin: auto;
}
.proimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}